.tableStyle {
    width: 90%;
}

.colorthead {
    color: white;
}

.tableStyle th {
    text-align: center;
}

.tableStyle td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
}

.tableStyle th {
    background-color: #cad8fa;
}

.tableStyle td {
    background-color: #f0e7da;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.height {
    height: 100vh;
}